.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  margin: 0 10px;
}

ul {
  width: 12%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
  padding: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
li {
  list-style: none;
  margin-right: 6px;
  color: white;
}

